@font-face {
    font-family: 'Inter';
    src: local("Inter-bold"), local("Inter bold"),
        url(/fonts/Inter-Bold.woff2) format("woff2");
        font-weight: 700;
        font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local("inter-semibold"), local("inter semibold"),
  url(/fonts/Inter-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local("Inter-medium"), local("Inter medium"),
      url(/fonts/Inter-Medium.woff2) format("woff2");
      font-weight: 500;
      font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local("Inter-regular"), local("Inter regular"),
        url(/fonts/Inter-Regular.woff2) format("woff2");
        font-weight: 400;
        font-display: swap;
}
